.card {
    background: 0,0,0,0;
    border-radius: 2px;
    box-shadow: 0 -200px 100px #999;
    text-align: left;
    justify-content: center;
}

.card>.img-container {
    overflow: hidden;
    text-align: center;
    /* background: black; */
    justify-content: center;  
    margin: 20px;   
}

.card>.img-container>img {
    width: 300px;   
}






